/* Phone */

#root {
    background-color: #C19569;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.warn {
    color: red;
    text-align: center;
    padding: 4px 0px;
    font-size: 0.8rem;
}

.loadoverlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.loadoverlay > .spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(0, 0, 0, 0.6);
  border-top-color: #C19569;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.auth-container {
    width: 100%;
    height: auto;
    padding: 40px 40px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.auth-container {
    width: 100%;
    height: auto;
    padding: 40px 40px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.5);
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: translateY(-4%);
}

.auth-container input {
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
}

.auth-container > div {
    position: relative;
}

.auth-container > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 2rem;
    padding: 20px;
    border: 1px solid black;
    background-color:#C3DCF0;
    width: 130%;
}

.auth-container > div > span {
    position: absolute;
    top: 28%;
    right: 5%;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
}

.auth-container > button {
    border-radius: 2px;
    background-color: #C3DCF0;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    outline: none;
    padding: 20px;
    width: 130%;
    margin-top: 30px;
}

.auth-container > button:focus {
    background-color: rgba(195, 220, 240, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.auth-container:hover {
    transform: translateY(calc(-4% - 4px));
}

/* Tablet */
@media (min-width: 768px) {
    
}

/* Desktop */
@media (min-width: 1024px) {
    .auth-container {
        width: 24%;
        border-radius: 4px;
        box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.5);
    }
    .auth-container:hover {
        transform: translateY(calc(-4% - 2px));
    }
    .auth-container > div > span:hover {
        font-weight: 700;
    }
    .auth-container > button {
        width: auto;
        padding: 10px 18px;
    }
    .auth-container > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 800;
        font-size: 2rem;
        padding: 20px;
        border: 1px solid black;
        background-color:#C3DCF0;
        width: 100%;
    }
    .loadoverlay {
        display: none;
        position: absolute !important;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
