version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    ports:
      - "5432:5432"
    container_name: postgres_db
    environment:
      POSTGRES_DB: projectC
      POSTGRES_USER: yerah
      POSTGRES_PASSWORD: asdiopzxc
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
    - ./pgadmin_data:/var/lib/pgadmin
    - ./servers.json:/pgadmin4/servers.json
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
