/* Phone */
/* Colors
    bright - DDEB9D rgb(221, 235, 157)
    less bright - A0C878 rgb(160, 200, 120)
    dark - 27667B rgb(39, 102, 123)
    darkest - 143D60 rgb(20, 61, 96)
*/


#root {
    background-color: #27667B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.auth-container > .warn {
    margin: -20px 0px;
    top: -1%;
}

.warn {
    display: none;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 600;
    padding: 6px 4px;
    margin-bottom: -20px;
    font-size: 0.8rem;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 4px;
    top: 20%;
    width: 200px;
    z-index: 1;
}

.warn.anim {
    animation: warnfade 3s 3s ease 1 forwards;
}

@keyframes warnfade {
    from {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 0, 0, 1);
        display: inline;
    }
    to {
        color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 0, 0, 0);
        display: none;
    }
}

.loadoverlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.loadoverlay > .spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgba(0, 0, 0, 0.6);
  border-top-color: #DDEB9D;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.auth-container {
    width: 100%;
    height: auto;
    padding: 40px 40px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.auth-container {
    width: 100%;
    height: auto;
    padding: 40px 40px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.5);
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: translateY(-4%);
}

.auth-container input {
    position: relative;
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
}

.auth-container > div {
    position: relative;
}

.auth-container > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 2rem;
    padding: 20px;
    border: 1px solid black;
    background-color:#DDEB9D;
    width: 130%;
    transition: .1s;
    animation: name .15s ease-in-out 1;
}

.auth-container > span:hover {
    transform: scale(1.05);
}

@keyframes reglogswap {
    0% {
        transform: scaleX(1);
    } 
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.auth-container > div > span {
    position: absolute;
    top: 28%;
    right: 5%;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
}

.auth-container > button {
    border-radius: 2px;
    background-color: #DDEB9D;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    outline: none;
    padding: 20px;
    width: 130%;
    margin-top: 30px;
    animation: .1s ease-in-out 1;
}

@keyframes buttonclick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.auth-container > button:focus {
    background-color: rgba(221, 235, 157, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.auth-container:hover {
    transform: translateY(calc(-4% - 4px));
}

/* Tablet */
@media (min-width: 768px) {
    
}

/* Desktop */
@media (min-width: 1024px) {
    .auth-container {
        width: 24%;
        border-radius: 4px;
        box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.5);
    }
    .auth-container:hover {
        transform: translateY(calc(-4% - 2px));
    }
    .auth-container > div > span:hover {
        font-weight: 700;
    }
    .auth-container > button {
        width: auto;
        padding: 10px 18px;
    }
    .auth-container > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 800;
        font-size: 2rem;
        padding: 20px;
        border: 1px solid black;
        background-color:#DDEB9D;
        width: 100%;
    }
    .loadoverlay {
        display: none;
        position: absolute !important;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
