/* Phone */
/* Colors
    bright - DDEB9D rgb(221, 235, 157)
    less bright - A0C878 rgb(160, 200, 120)
    dark - 27667B rgb(39, 102, 123)
    darkest - 143D60 rgb(20, 61, 96)
*/

.profilepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: #27667B;
}

/* Laptop */
@media (min-width: 1024px) {
    .profilepage {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: fit-content;
        min-height: 100vh;
        background-color: #27667B;
        padding-top: 60px;
    }

    .profilepage .maincontainer {
        display: flex;
        flex-direction: row;
        width: 84%;
        height: 100%;
        gap: 10px;
    }

    .profilepage .maincontainer .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 100%;
        border: 2px solid black;
        background-color: rgb(221, 235, 157);
        gap: 10px;
        padding: 20px 30px;
    }

    .profilepage .maincontainer .left .material-symbols-outlined {
        font-size: 10rem;
        border-radius: 50%;
        border: 2px solid black;
        background-color: white;
        padding: 40px;
        user-select: none;
    }

    .profilepage .maincontainer .left .profilename {
        font-weight: 700;
        font-size: 2rem;
        text-decoration: underline;
    }

    .profilepage .maincontainer .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 10px;
    }

    .profilepage .maincontainer .right > div {
        width: 100%;
        border: 2px solid black;
        background-color: white;
    }

    .profilepage .maincontainer .right .info {
        height: fit-content;
        padding: 20px;    
    }

    .profilepage .maincontainer .right .resetpw {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding: 20px;
        position: relative;
    }

    .profilepage .maincontainer .right .resetpw input {
        padding: 6px 10px;
        font-size: 1rem;
        width: 100%;
    }
    .profilepage .maincontainer .right .resetpw button {
        padding: 4px;
        font-size: 0.9rem;
        background-color: rgb(160, 200, 120);
        cursor: pointer;
    }

    .profilepage .maincontainer .right .resetpw .input {
        position: relative;
        width: 50%;
    }

    .profilepage .maincontainer .right .resetpw .material-symbols-outlined {
        position: absolute;
        top: 25%;
        right: 2%;
        cursor: pointer;
        filter: contrast(0.5);
        user-select: none;
    }

    .profilepage .maincontainer .right .resetpw .material-symbols-outlined:hover {
        filter: contrast(1);
    }

    .profilepage .maincontainer .right .resetpw .pwarn {
        display: none;
        position: absolute;
        top: -10px;
        left: auto;
        width: fit-content;
        height: fit-content;
        background-color: red;
        color: white;
        text-align: center;
        font-weight: 600;
        padding: 6px 4px;
        border-radius: 4px;
        z-index: 1;
        font-size: 0.8rem;
    }

    .profilepage .maincontainer .right .resetpw .pwarn.anim {
        animation: pwarnfade 0.5s 2s ease 1 forwards;
    }

    @keyframes pwarnfade {
        from {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 0, 0, 1);
        }
        to {
            color: rgba(255, 255, 255, 0);
            background-color: rgba(255, 0, 0, 0);
        }
    }

    .profilepage .orderscontainer {
        display: flex;
        flex-direction: column;
        width: 94%;
        height: fit-content;
        padding: 20px 30px;
        background-color: white;
        margin-top: 20px;
        border: 2px solid black;
        gap: 10px;
    }

    .profilepage .orderscontainer > p {
        font-size: 1.5rem;
        font-weight: 300;
        padding-left: 40px;
    }

    .profilepage .orderscontainer .line {
        width: 100%;
        align-self: center;
        height: 1px;
        background-color: black;
    }

    .profilepage .orderscontainer .orders {
        position: relative;
        width: 100%;
        height: fit-content;
        padding: 40px;
        background-color: white;
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        transition: .3s ease;
        background-color: white;
        border: 1px solid black;
    }

    .profilepage .orderscontainer .orders .order {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        height: 610px;
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0 10px 10px rgba(255,255,255,0.4);
        transition: .15s;
    }

    .profilepage .orderscontainer .orders .order:hover {
        transform: scale(1.01);
        box-shadow: 0 12px 10px rgba(255,255,255,0.4);
    }

    .profilepage .orderscontainer .orders .order img {
        width: 100%;
        aspect-ratio: 3/4;
    }

    .profilepage .orderscontainer .orders .order .name {
        font-weight: 600;
        cursor: pointer;
    }

    .profilepage .orderscontainer .orders .order .name:hover {
        text-decoration: underline;
    }

    .profilepage .orderscontainer .orders .order .price {
        font-weight: 300;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        margin-top: auto;
    }

    .profilepage .orderscontainer .orders .order .price div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .profilepage .orderscontainer .orders .order .price span {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        gap: 10px;
    }

    .profilepage .orderscontainer .orders .order .price span button {
        padding: 0px 10px;
        background-color: white;    
    }

    .profilepage .orderscontainer .orders .order .price span button:nth-child(1) {
        background-color: rgb(221, 235, 157);
    }

    .profilepage .orderscontainer .orders .order .quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .profilepage .orderscontainer .orders .order .rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1px;
    }
}