@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: white;
    width: 4px;
}

html::-webkit-scrollbar-thumb {
    background-color: black;
}

html::-webkit-scrollbar-button {
    width: 4px;
}

#root {
  height: 100vh;
}