/* Phone */
/* Colors
    bright - DDEB9D rgb(221, 235, 157)
    less bright - A0C878 rgb(160, 200, 120)
    dark - 27667B rgb(39, 102, 123)
    darkest - 143D60 rgb(20, 61, 96)
*/


#root {
    height: fit-content;
}

.feed {
    background-color: #27667B;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    width: 100wh;
    height: fit-content;
    min-height: 100vh;
}

.feed .header {
    border: 2px solid black;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    height: 80px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
}

.feed .header .logo {
    font-weight: 900;
    font-size: 1.6rem;
}

.feed .header .center {
    display: none;
}

/* Desktop */
@media (min-width: 1024px) {
    .feed {
        padding-top: 160px;
    }
    .feed .header {
        top: 0.4%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        height: 100px;
        padding: 20px;
        width: 90%;
        border-radius: 1% 1% 25% 25%;
        justify-content: space-evenly;
        transition: .15s;
    }

    .feed .header.hide {
        top: -100px;
    }

    .feed .header .logo {
        font-size: 2rem;
        cursor: pointer;
    }

    .feed .header .logo a {
        text-decoration: none;
        color: black;
        filter: opacity(0.8);
        transition: .15s;
    }

    .feed .header .logo a:hover {
        filter: opacity(1);
    }

    .feed .header .center {
        display: block;
    }
    
    .feed .header > span {
        width: 30%;
    }

    .feed .header > span > ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .feed .header > span > ul > li > a {
        text-decoration: none;
        color: rgb(39, 102, 123);
        font-weight: 400;
        filter: opacity(0.8);
        font-size: 1.2rem;
    }

    .feed .header > span > ul > li > a:hover {
        filter: opacity(1);
    }

    .feed .header .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .feed .header .profile .profilecontainer {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius:  4px;
        padding: 4px 10px;
        transition: .1s;
        position: relative;
    }

    .feed .header .profile .profilecontainer .profiledropdown {
        list-style: none;
        position: absolute;
        display: none;
        width: 100%;
        border-radius:  4px;
        top: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        animation: .15s ease-out 1 forwards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        overflow: hidden;
        height: 0px;
        padding: 0px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        transition: .3s;
    }

    .feed .header .profile .profilecontainer .profiledropdown.active {
        top: calc(100% + 4px); 
        display: flex;
        height: fit-content;
        padding: 10px 10px;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }

    .feed .header .profile .profilecontainer .profiledropdown li {
        font-size: 1rem;
        font-weight: 300;
        cursor: pointer;
        transition: .15s;
    }

    .feed .header .profile .profilecontainer .profiledropdown li:hover {
        text-decoration: underline;
        transform: translateX(4px) translateY(-1px);
    }

    .feed .header .profile .ava {
        width: 32px;
        height: 32px;
        background-color: rgb(160, 200, 120);
    }

    .feed .header .profile .n {
        font-weight: 600;
    }

    .feed .header .profile .arrowdown {
        cursor: pointer;
        width: 8px;
        height: 8px;
        border: 2px solid black;
        border-top: none;
        border-left: none;
        transform: rotateZ(45deg);
    }

    .feed .strip {
        background-color: rgb(221, 235, 157);
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid black;    
    }

    .feed .strip p {
        width: 30%;
    }

    .feed .strip p:nth-child(1) {
        font-weight: 900;
        font-size: 10rem;
        color: white;
    }

    .feed .strip p:nth-child(2) {
        font-weight: 300;
        font-size: 1.6rem;
        color: rgb(20, 61, 96);
    }

    .feed .search {
        position: sticky;
        top: 10px;
        border: 2px solid black;
        width: 84%;
        height: fit-content;
        padding: 14px 40px;
        background-color: white;
        border-radius: 4px;
        margin-top: 140px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        z-index: 1;
        transition: .15s;
    }

    .feed .search.stuck {
        width: 90%;
    }

    .feed .search input {
        font-size: 1.2rem;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px;
        outline: none;
        width: 50%;
    }

    .feed .search button {
        padding: 0px 14px;
        font-weight: 500;
        outline: none;
        border-radius: 2px;
        background-color: rgb(160, 200, 120);
        font-size: 1.2rem;
        cursor: pointer;
        color: black;
    }
    
    .feed .search span {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .feed .search span p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .feed .search span select {
        padding: 4px 6px;
        font-size: 1rem;
        font-weight: 500;
    }

    .feed .search span div {
        border: 2px solid black;
        width: 24px;
        height: 24px;
        rotate: 45deg;
        cursor: pointer;
        transition: .15s;
    }

    .feed .search span div.active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .feed .search .arrowup {
        margin-left: -10px;
    }

    .feed .search .arrowdown, .arrowup {
        cursor: pointer;
        filter: contrast(0.2);
        user-select: none;
    }

    .feed .search .arrowdown:hover, .arrowup:hover {
        filter: contrast(1);
    }

    .feed .search .arrowdown.active, .arrowup.active {
        filter: contrast(1);
    }

    .feed .products {
        position: relative;
        margin-top: 20px;
        width: 84%;
        height: fit-content;
        padding: 40px;
        background-color: white;
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        background-color: rgb(20, 61, 96);
        border: 2px solid black;
    }

    .feed .products > .loadoverlay {
        width: 100%;
        height: 100%;
    }

    .feed .products .productcard {
        background: white;
        height: fit-content;
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0 10px 10px rgba(255,255,255,0.4);
        transition: .15s;
        cursor: pointer;
    }

    .feed .products .productcard.active {
        animation: productcardflipover 1s ease-in-out 1 forwards;
    }

    @keyframes productcardflipover {
        from {
            transform: rotate3d(0, 1, 0, 0deg);
        }
        to {
            transform: rotate3d(0, 1, 0, 180deg);
        }
    }

    .feed .products .productcard:hover {
        transform: scale(1.01);
        box-shadow: 0 12px 10px rgba(255,255,255,0.4);
    }

    .feed .products .productcard img {
        width: 100%;
        aspect-ratio: 3/4;
    }

    .feed .products .productcard .name {
        font-weight: 600;
    }
}